ul.unstyled {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(to bottom right, #f0582a, #eb0685);
    height: 3rem;
  }
  
  nav li {
    display: flex;
    align-items: center;
    float: left;
    height: 100%;
  }
  
  nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  nav li a:hover {
    background-color: #d9390d;
  }

  nav li:hover {
    background-color: #d9390d;
  }

  .auth-btn {
      float: right;
  }