button {
    border: none;
    background-color: inherit;
    color: white;
    font-size: inherit;
    height: inherit;
    width: inherit;
    margin: 0;
    padding: 0 1rem;
}

button:hover {
    cursor: pointer;
}